
.each-error {
    border: 2px solid white;
    padding: 7px 25px;
    border-radius: 8px;
    background: #de4545;
    color: white;
}

.bdt {
    border-bottom: 2px solid #ddd;
    display: inline-block;
}
.bdt span, .bdt2 span {
    border-left: 2px solid #ddd;
    padding: 2px;
}
.color-white{
    color: #FFFFFF;
}
#deleteModal>.modal-dialog{
   top: 20%;
}
.icon_box{
    text-align: center;
    min-height: 0px;
    margin: 0px 0;
    font-size: 42px;
}
.icon_box i {
    font-size: 25px;
    display: block;
    float: left;
    padding: 1px 25px;

}
.icon_box .has-error{
    color: #da3232;
}
.icon_box:hover{
    color: #da3232;
}
.alert-danger{
    background: #96282E;
}
.main-footer{
    height: 10px !important;
}
.header-title .breadcrumb{
    max-width: 200px;
}
.panel-bd, .panel-primary, .panel-success, .panel-info, .panel-warning, .panel-danger, .panel-inverse {
    cursor: auto;
}
.width-50{
    width: 50%;
}
.icon-elemet i{
    display: inline-block;
    float: none;
    padding: 0px 15px;
    cursor: pointer;
}
.text-bold{
  font-weight: bold;
 }
.cc, .oe {
    font-size: 16px;
    font-style: initial;
    color: green;
}
.Patient-info p {font-weight: 700;}

.Patient-info p span {
    font-style: initial;
    color: green;
}
.margin-10{
    margin: 10px !important;
}
.margin-right-10{
    margin-right: 10px !important;
}

.padding-10{
    padding: 10px !important;
}
.margin-20{
    margin: 20px !important;
}
.padding-20{
    padding: 20px !important;
}

.margin-top-10{
    margin-top: 10px !important;
}
.padding-top-10{
    padding-top: 10px !important;
}
.margin-top-20{
    margin-top: 20px !important;
}
.margin-top-15{
    margin-top: 15px !important;
}
.padding-top-20{
    padding-top: 20px !important;
}
.height-400{
    height: 400px;
}
.paid-field{
    width: 83%;
    float: left;
}
.pay-box{
    display: none;
    margin-left:16%;
}
.height-55{
    height: 55px;
}
.pay-text-error{
    display: none;
}
.text-underline{
    text-decoration: underline;
    cursor: pointer;
}
.dz-message{
    display: none;
}
.search-result{
    list-style: none;
    margin-left: -40px;
    text-align: center;
    position: absolute;
    display: block;
    width: 22%;

}
.result-list{
    border-bottom: 1px dotted gray;
    border-right: white;
    cursor: pointer;
    background: white;
    padding: 2px;
}
.result-list{
    border-bottom: 1px dotted gray;
    border-right: white;
    cursor: pointer;
    background: white;
    padding: 2px;
}
.result-list:hover{
   background: gray;
    color: white;
}